name: Deploy React Production Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build production React app
        run: npm run build
        env:
          NODE_ENV: production

      - name: Deploy to cPanel via SSH (rsync)
        uses: burnett01/rsync-deployments@v6.0.0
        with:
          switches: -avz --delete
          path: build/
          remote_path: /home/slescagov/public_html/
          remote_host: ${{ secrets.CPANEL_HOST }}
          remote_user: ${{ secrets.CPANEL_USER }}
          remote_key: ${{ secrets.SSH_KEY }}
